#about-text-container {
  margin-left: 100px;
  margin-right: 100px;
 }
 #about {
   text-align: center;
   font-size: 30px;
   color: #3b3b3b;
   margin-top: 10%;
 }
 
 #about-text {
   margin-top: auto;
   color: #3b3b3b;
   cursor: pointer;
   font-weight: 600;
   font-size: 25px;
   cursor: pointer;
   animation: fade .7s ease-in;
 }
 
 
 @keyframes fade {
   0% {
     opacity: 0;
 
   }
   100% {
     opacity: 1;
   }
 }
  
 @media (max-width: 830px) {
   #about-text {
     font-size: 20px;
   }
 }
 @media (max-width: 600px) {
   #about-text {
     font-size: 15px;
   }
 }