#resume {
  text-align: center;
  font-size: 30px;
  color: #3b3b3b;
  margin-top: 10%;
}
.resume-page-container {
  display: flex;
  justify-content: center;
}
.resume-page {
  background-color: #2c8694;
  width: 340px;
  height: 470px;
  animation: scale 800ms ease forwards;
  animation-delay: .6s;
  visibility: hidden;
  cursor: pointer;
}
.resume-page-container {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: .1fr
}
.resume-title {
  text-align: center;
}
