#about-content-container {
  display: flex;
  justify-content: center;
}
#about {
  text-align: center;
  font-size: 30px;
  color: #3b3b3b;
  margin-top: 10%;
 
}

#about-text {
  margin-top: auto;
  color: #3b3b3b;
  cursor: pointer;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  animation: fade .5s ease-in;

}

#about-intro-container {
  max-width: 60%;
}


@keyframes fade {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}