#about-content-container {
  display: flex;
  justify-content: space-around;
}
#about {
  text-align: center;
  font-size: 30px;
  color: #3b3b3b;
  margin-top: 10%;
}

#about-text {
  color: #3b3b3b;
  cursor: pointer;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

#about-intro-container {
  max-width: 50%;
}