#name {
  text-align: center;
  font-size: 50px;
  color: #3b3b3b;
  margin-top: 10%;
}
#title-tag {
  margin-top: 20px;
}

.fade-bottom {
  animation: fade-bottom .3s ease-in;
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 830px) {
  #name {
    font-size: 40px;
  }
}