html {
  font-family: helvetica;
  background-color: #f7f4ed;
}


@media (max-width: 600px) {
  .title-tag {
    font-size: 40px;
  }
  .nav-nums {
    font-size: 12px;
  }
  .nav-titles {
    font-size: 14px;
  }
  .footer-titles {
    font-size: 14px;
  }
}
